.tag-table {
  tr th {
    text-align: center;
  }
  tr th:nth-child(4) {
    width: 135px;
  }
  tr td:nth-child(4) {
    text-align: center;
    vertical-align: middle;
  }
  tr td form {
    display: inline;
    button {
      border: none;
    }
  }
}
.category-table {
  tr th {
    text-align: center;
  }
  tr th:nth-child(5) {
    width: 135px;
  }
  tr td:nth-child(4), td:nth-child(5) {
    text-align: center;
    vertical-align: middle;
  }
  tr td form {
    display: inline;
    button {
      border: none;
    }
  }
}
.user-table {
  tr th {
    text-align: center;
  }
  tr th:nth-child(5) {
    width: 135px;
  }
  tr td:nth-child(5) {
    text-align: center;
    vertical-align: middle;
  }
  tr td form {
    display: inline;
    button {
      border: none;
    }
  }
}

.notification {
  display: none;
}
